<form>
    <label for="edad">Edad</label>
    <input type="number" name="edad"><br>
    <label for="altura">Altural</label>
    <input type="number" name="altura"><br>
    <label for="peso">Peso</label>
    <input type="number" name="peso"><br>
    <input type="radio" name="sexo" id="man" value="man" checked><label for="man">Hombre</label>
    <input type="radio" name="sexo" id="woman" value="woman"><label for="woman">Mujer</label><br>
    <label for="actividad"></label>
    <select name="actividad" id="actividad">
        <option value="1.2">Poco o ningún ejercicio</option>
        <option value="1.375">Ejercicio ligero (1 - 3 días por semana)</option>
        <option value="1.55">Ejercicio moderado (3 - 5 días por semana) </option>
        <option value="1.725">Ejercicio fuerte (6 - 7 días por semana)</option>
        <option value="1.9">Ejercicio muy fuerte (dos veces al día, entrenamientos muy duros)</option>
    </select>
    <select name="objetivo" id="objetivo">
        <option value="bajar">Pérdida de peso</option>
        <option value="mantener">Mantenimiento del peso</option>
        <option value="subir">Ganancia de peso</option>
    </select>
</form>