<div class="test">
    <h1>Meal Planner</h1>
    <h2>Description</h2>
</div>


<app-slider (recipeByCuisineTypeEmitter)="updateCuisineTypeRecipes($event)"></app-slider>


<div class="container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    @for(recipeData of data;track $index){
    @for(recipe of recipeData.hits; track $index){
    <app-recipecard [data]="recipe.recipe" (showModalEmitter)="updateModalData($event)"></app-recipecard>
    }
    }
</div>


<app-modal-recipe [recipeData]="modalData"></app-modal-recipe>

<!-- <button (click)="loadNextRandomRecipes()">Load more</button> -->