<div class="container d-flex justify-content-center" style="margin-top: 24px; margin-bottom: 24px;">
    <div class="d-flex flex-wrap justify-content-center gap-3 px-2" style="width: 100%;">
        @if(sliderType === "CUISINE"){
        @for(type of cuisineTypes; track $index){
        <app-category-card cuisineType="{{type}}"></app-category-card>
        }
        }
        @if(sliderType === "DISH"){
        @for(type of dishTypes; track $index){
        <app-category-card cuisineType="{{type}}"></app-category-card>
        }
        }
    </div>
</div>