<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-group">
                <button class="btn btn-outline-secondary" (click)="goToPreviousDay()" type="button"
                    id="button-addon1"><i class="bi bi-chevron-left"></i></button>
                <input type="text" class="form-control text-center" placeholder="{{day}} {{monthName}} {{year}}"
                    aria-label="Example text with button addon" aria-describedby="button-addon1" disabled readonly>
                <button class="btn btn-outline-secondary" (click)="goToNextDay()" [disabled]="isNextDayDisabled()"
                    type="button" id="button-addon2"><i class="bi bi-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div style="display: flex; gap: 32px; flex-direction: column;">
    <app-planner-meal mealName="Breakfast"></app-planner-meal>
    <app-planner-meal mealName="Snack"></app-planner-meal>
    <app-planner-meal mealName="Lunch"></app-planner-meal>
    <app-planner-meal mealName="Teatime"></app-planner-meal>
    <app-planner-meal mealName="Dinner"></app-planner-meal>
</div>