<h1>Planner</h1>
<div class="container">
    <div class="row justify-content-left">

        
        
    </div>
</div>



<div class="container d-flex flex-column justify-content-center col-lg-8 col-12" style="gap: 32px;">

    <mat-form-field>
        <input matInput [matDatepicker]="picker" [value]="dateFormControl.value"
            (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-planner-meal [mealType]="[MealTypes.Breakfast]" [planData]="plan?.breakfast" meal="breakfast"
        (removedFromPlanner)="removeFromPlanner($event)" (addedToPlanner)="addToPlanner($event)" (showModalEmitter)="updateModalData($event)"></app-planner-meal>
    <app-planner-meal [mealType]="[MealTypes.Brunch, MealTypes.Snack]" [planData]="plan?.snack" meal="snack"
        (removedFromPlanner)="removeFromPlanner($event)" (addedToPlanner)="addToPlanner($event)" (showModalEmitter)="updateModalData($event)"></app-planner-meal>
    <app-planner-meal [mealType]="[MealTypes.Lunch]" [isLunch]="true" [planData]="plan?.lunch" meal="lunch"
        (removedFromPlanner)="removeFromPlanner($event)" (addedToPlanner)="addToPlanner($event)" (showModalEmitter)="updateModalData($event)"></app-planner-meal>
    <app-planner-meal [mealType]="[MealTypes.Teatime,MealTypes.Snack]" [planData]="plan?.teatime" meal="teatime"
        (removedFromPlanner)="removeFromPlanner($event)" (addedToPlanner)="addToPlanner($event)" (showModalEmitter)="updateModalData($event)"></app-planner-meal>
    <app-planner-meal [mealType]="[MealTypes.Dinner]" [isDinner]="true" [planData]="plan?.dinner" meal="dinner"
        (removedFromPlanner)="removeFromPlanner($event)" (addedToPlanner)="addToPlanner($event)" (showModalEmitter)="updateModalData($event)"></app-planner-meal>

</div>

<app-modal-recipe [recipeData]="modalData"></app-modal-recipe>