<div class="separador">

    <div>
        <h3 (click)="toggle()" aria-expanded="false">{{mealName}}
        </h3>
    </div>
    <div class="d-flex justify-content-between">
        <h4 class="flex-fill text-center">0 calories</h4>
        <h4 class="flex-fill text-center">0 g carbs</h4>
        <h4 class="flex-fill text-center">0 g protein</h4>
        <h4 class="flex-fill text-center">0 g fat</h4>
    </div>
    <hr>
    <div style="position: absolute; right: 32px;">
        <app-modal-busqueda mealName="{{mealName}}"></app-modal-busqueda>
    </div>
    <app-recipecard></app-recipecard>
</div>